{
  "env": {
    "browser": true,
    "jasmine": true,
    "jquery": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "exports":true,
    "_":true,
    "self": true,
    "console": true,
    "browser":true,
    "jasmine": true,
    "describe": true,
    "expect": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "di": true,
    "require": true,
    "chrome":true
  },
  "rules": {
    "no-bitwise": 0,
    "camelcase": 1,
    "curly": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-extend-native": 2,
    "wrap-iife": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "new-cap": 0,
    "no-caller": 2,
    "no-empty": 2,
    "no-irregular-whitespace": 0,
    "no-new": 2,
    "no-plusplus": 0,
    "quotes": 1,
    "no-undef": 2,
    "no-unused-vars": 2,
    "strict": 0,
    "max-params": 0,
    "max-depth": 0,
    "max-statements": 0,
    "complexity": 0,
    "max-len": 0,
    "no-var": 0,
    "semi": 2,
    "no-cond-assign": 0,
    "no-debugger": 1,
    "no-eq-null": 0,
    "no-eval": 1,
    "no-unused-expressions": 1,
    "block-scoped-var": 0,
    "no-iterator": 0,
    "linebreak-style": 0,
    "comma-style": [
      2,
      "last"
    ],
    "comma-dangle":2,
    "no-loop-func": 0,
    "no-multi-str": 0,
    "require-yield": 0,
    "valid-typeof": 0,
    "no-proto": 0,
    "no-script-url": 0,
    "no-shadow": 1,
    "dot-notation": 1,
    "no-new-func": 0,
    "no-new-wrappers": 0,
    "no-invalid-this": 1
  }
}
